<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

  <%= f.label :email, class:"visually-hidden" %>
  <%= 
    f.email_field :email, 
                   autofocus: true, 
                   autocomplete: "email",
                   placeholder: "email@address",
                   class: "form-control form-control-sm mb-3" 
  %>

  <%= f.label :password, class:"visually-hidden" %>
  <%= 
    f.password_field :password, 
                      autocomplete: "current-password",
                      placeholder: "***********",
                      class: "form-control form-control-sm mb-3" 
  %>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" class="form-check-input"> Remember me
    </label>
  </div>
  <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-3 mb-3 text-muted">&copy; 2020. eCommerceOs</p>
<% end %>